BODY { 
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
	margin: 0 ; 
}

INPUT, SELECT, TEXTAREA {
	font-family: verdana,arial,helvetica;
	font-size: 8pt;
}

TABLE { border-width: 0; }

TH {
	background: #C0E1FF;
	color : #000000;
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
	font-weight : bold;
	text-align: left ;
	vertical-align: top ;
	padding: 2;
	border-style: solid;
	border-color: #4181C0;
	border-width: 1;
} 

TD {
	background: #FFFFFF;
	color : #000000;
	font-family : verdana,arial,helvetica;
	font-size : 8pt;
	font-weight : normal;
	text-align: left ;
	vertical-align: top ;
	padding: 2;
	border-width: 0;
} 

.BLUE {
	background: #C0E1FF;
	border-style: solid;
	border-color: #4181C0;
	border-width: 1;
} 

.GREY {
	background: #EFEFEF;
	vertical-align: middle;
	border-style: solid;
	border-color: #808080;
	border-width:	1;	
}

.DARKGREY {
	background: #EFEFEF;
	border-style: solid;
	border-color: #000000;
	border-width:	1;
	cursor: hand;	
}

.TABLEGREY {
	background: #808080;
	border-style: solid;
	border-color: #808080;
	border-width:	1;	
}

.PAGEBLUE {
	border-style: solid;
	border-color: #4181C0;
	border-width: 1;
	background: #C0E1FF url(back.gif) no-repeat top left;
} 

.PAGEGREY {
	border-style: solid;
	border-color: #808080;
	border-width:	1;	
	background: #EFEFEF url(back.gif) no-repeat top left;
}

.ICONGREY {
	background: #EFEFEF;
	border-width: 0;
}

.BOX {
	border-style: solid;
	border-color: #808080;
	border-bottom-width:	1;	
}

.LIST { width: 300 ; }

A {
	font-family: verdana,arial,helvetica;
	font-size: 8pt;
} 
A:link { color: #0000FF; } A:visited { color: #0000FF; } A:hover { text-decoration: none; color: #0000FF; }