.applayout-main {
	max-width: 1280px;
	margin: 20px auto 0px auto;
	background-color: white;
}
.applayout-banner {
	height:85px;
}
.applayout-utility-links{
	/* margin-right: 20px; */
	padding-right: 15px;
}
.applayout-titlebar-tabs {
	background-color: rgb(243, 247, 251);
	border-bottom-color: #5A8FB4;
	border-top-color: #5A8FB4;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
}
.applayout-titlebar-name {
	float:none;
	clear:both;
	margin-left: 175px;
	font-size: 1.2em;
}
.applayout-placebar {
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.applayout-footer {
	width:100%;
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.applayout-legal {
	max-width: 1280px;
	margin: 0 auto;
	background-color: white;
}
.modal-header {
	background-color: #EBEFF3;
}
.container-full {
	max-width: 1280px;
	min-height:700px;
	margin: 0 auto;
	background-color: white;
}
body {
	background-color: rgb(77, 121, 151);
}
.pagination {
	margin-top:0px;
	margin-left:5px;
}

.list-group-item:light-active {
	margin: 1px 0px; border: 2px solid rgb(190, 233, 241);
	color: rgb(58, 135, 173); text-decoration: none; box-shadow: inset 0px 3px 8px rgba(0,0,0,0.125); background-image: none; background-color: rgb(217, 237, 247); -webkit-box-shadow: inset 0 3px 8px rgba(0, 0, 0, 0.125);
}

.dropdown-menu > li > a {
	white-space: pre-line;
	padding-top: 3px;
	padding-bottom: 3px;
}

.navPanel {
	margin-bottom: 5px;
}

.navHeading {
	padding-top: 5px;
	padding-bottom: 5px;
}

.navItem {
	padding-top: 5px;
	padding-bottom: 5px;
}

.input-group-btn > .btn {
	padding: 9px 12px;
}

.borderless > tbody > tr > td {
    border: none;
}